<%- include("partials/header.ejs") %>
<body>

  <header>
		<h1 class="jumbotron"> Admin Section </h1>
	</header>
  <div class="card">
		<div class="card-body">
      <form action="/addfood">
        <button>Add a new Food</button>
      </form>
      <br>
      <br>
      <form action="/displayFood">
        <button>Update Food</button>
      </form>

      <form action="/Nutrition">
        <button>Nutrition Fact</button>
      </form>
    </div>
  </div>



</body>
</html>