<%- include("partials/header.ejs") %>
<body>

  <header>
		<h1 class="jumbotron">!!CONGRATULATIONS!! </h1>
	</header>
  <div class="card">
		<div class="card-body">
        <h1> Your Payment was SuccessFull!!!</h1>
        <p> Thanks for shopping with us....</p>
      </div>
  </div>



</body>
</html>