<%- include("partials/header.ejs") %>
<body>
<header>
		<h1 class="jumbotron"> Prime Concern Foods </h1>
</header>
  <div class="card">
		<div class="card-body">
    <div id="para">
    <p >
      Welcome to Prime Concern Foods, the one stop shop for all food needs. This website will offer many options of foods, from a nutritionists wants, to the meat lovers delight. We also offer a nutrition guide for those who want to know more about each of the food! That guide can be found <a href="/Nutrition">here</a> 
    </p>
    </div>
    <br>
    <div id="ctr">
      <span> Heres a fine exactly of a delicious dish made with the ingrediants we sell! Check out the Food list to get <a href="/FoodList">started!</a></span>
    </div>
    <div id="Photos">
    <figure>
    <a href="/FoodList" alt="Food List">  <img src = "imgs/curry.jpg" width="300px" ></a>
    </figure>
    <br>
    <span id="ctr"> Below you find just a few more dishes that were created using the ingrediants we sell!</span>
  <div id="ctr" class="ctrr">
    <div id="img">
    <figure>
      <a href="/FoodList" alt="Food List"> <img src = "imgs/chicken.jpg" height ="300px "width="300px"></a>
    </figure>
    <figure>
      <a href="/FoodList" alt="Food List"> <img src = "imgs/steak.jpg" height ="300px" width="300px"> </a>

    </figure>

    <figure>
    <a href="/FoodList" alt="Food List"> <img src = "imgs/Pizza.jpg" height ="300px" width="300px"> </a>
    </figure>
    </div>
  </div>
    </div>
    <hr>

    
    <footer>
      <div id="Title">
      <img id="foot" src="imgs/csumb.png">  
        <p id= "foot1">This is a product created by Students at CSUMB. All rights to the students of CSUMB; For Educational purposes only.
        </p>
        <br> 
            
  </div>
  </div>
  </div>
</footer>
</body>
</html>