<%- include("partials/header.ejs") %>
<body>
<header>
		<h1 class="jumbotron"> LogIn</h1>
</header>
  <div class="card">
		<div class="card-body">
    <form method = "POST">
        Username:<input type="text" name="username"><br>
        Password:<input type="password" name="password"><br>
        <button> Login </button>
    </form>
</div>
</div>

</body>
</html>